@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --red: #E50914;
    --black: #141414;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

.bg-series {
    background-image: url(../midia/got3.jpg);
    background-size: cover;
    height: 620px;
}

.container{
    padding: 0 50px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

header .top{
    display: flex;
    align-items: center;
    flex-direction: row;
}

header .logo{
    width: 140px;
    padding-right: 25px;
}

header nav a{
    color: var(--white);
    font-weight: 500;
    font-size: 0.85em;
    padding: 0 10px;
}

header .icons img {
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

main .container{
    display: block;
    margin-top:70px;
    width: 65%
}

main .type-video{
    display: flex;
}

main .type-video img{
    width: 5%;
    padding-right: 2px;
    padding-bottom: 10px;
}

main .type-video h2{
    font-size: 1em;
    font-weight: 400;
}


main .title-video img{
    width: 250px;
    padding-bottom: 10px;
}

main .text-video p{
    text-align: justify;
    font-weight: 500;
    padding-bottom: 20px;
}

main button{
    margin-right: 10px;
    padding: 0 20px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: 0 solid transparent;
    cursor: pointer;
}

main i{
    width: 20px;
    margin-right: 8px;
}

main .info{
    color: white;
    background-color: #00000073;
}

